.with-sidebar main {
  display: block;
}

.with-sidebar main .section.accordion-container,
.with-sidebar main .section.image-cards-container {
  float: left;
  width: 65%;
}

.with-sidebar main .section.sidebar {
  float: right;
  width: 32%;
}

.with-sidebar main .section.icon-cards-container,
.with-sidebar main .section.video-cards-container {
  clear: both;
  width: 100%;
}

@media (width <= 900px) {
  .with-sidebar main .section.accordion-container,
  .with-sidebar main .section.image-cards-container,
  .with-sidebar main .section.sidebar {
    float: none;
    width: 100%;
  }
}
